<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OppoSeek</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search">
</form>
{% if search %}
    {% if opposing %}
        <br/><br/>
        Opposing searches:
        {% for search in opposing %}
            <br/><br/>
            <a target="_blank" href="https://www.google.com/search?q={{ search }}">{{ search }}</a>
        {% endfor %}
    {% endif %}
    <br/><br/>
    Your search:
    <a target="_blank" href="https://www.google.com/search?q={{ search }}">{{ search }}</a>
{% endif %}
</body>
</html>